
<div style="background-color: #222831">
<div class="container" id="wrap">
	  <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="/signup" method="post" accept-charset="utf-8" class="form" role="form">   <legend>Sign Up</legend>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <input type="text" name="firstName" value="" class="form-control input-lg" placeholder="First Name"/></div>
                        <div class="col-xs-6 col-md-6">
                            <input type="text" name="lastName" value="" class="form-control input-lg" placeholder="Last Name"/></div>
                    </div>
                    <input type="text" name="signupUsername" value="" class="form-control input-lg"
                    placeholder="Your Username"/>
                    <input type="text" name="signupEmail" value="" class="form-control input-lg"
                    placeholder="Your Email"/>

                    <input type="password" name="signupPassword" value="" class="form-control input-lg" placeholder="Password"/>
                    <input type="password" name="confirm_password" value="" class="form-control input-lg" placeholder="Confirm Password"/>

                     <label> Date of Birth: </label>
                      <input type="date" name="bday"  class = "form-control input-lg">>
                     <label>Gender : </label>
                        <label class="radio-inline">
                        <input type="radio" name="gender" value="M" id=male />Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="F" id=female />Female
                    </label>
                    <br />
              <span class="help-block">By clicking Create my account, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use.</span>
                    <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
                        Create my account</button>
                        <% if (typeof errorMessage !== 'undefined') { %>
                          <div class="error"> <%= errorMessage %> </div>
                        <% } %>
                        <br>
            </form>
          </div>
    </div>
  </div>
</div>
