<div style="border-bottom: 2px solid black; border-shadow: 1px; text-align: center">
<% if (workouts.length === 0) { %>

  <h2> You don't have any workouts saved yet </h2>


<% } else { %>

  <h2> Your Workouts </h2>

  <% if (successMessage.length > 0) { %>
    <div class="success"> <%= successMessage %> </div>
  <% } %>

  <ul>
    <% workouts.forEach((oneWorkout) => { %>
      <li>
        <h3> <%= oneWorkout.strength %> </h3>

        <p> <%= oneWorkout.strength.weight %> </p>

        <img src="<%= oneWorkout.photoAddress %>"
      </li>
    <% }) %>
  </ul>

<% } %>
<a href="/workout/new">
  Create a Workout
</a>
