
  <!-- First Image -->
<div class="hero">
  <div class="cover" data-stellar-background-ratio="0.5" style="background-image: url(images/949213997bff229a50691e78dac040eb.jpg);">
    <div class="desc animate-box">
      <div class="container">
        <div class="row">
          <div class="main-picture-slide">
            <h1 style="color: white;width:100%; margin-top: 20px"><%= title %></h1><br>
            <h2 style="color: white; margin-top: 250px" >Fitness &amp; Health <br>is a <b>Mentality</b></h2>
            <span><a class="btn btn-primary anchorLink" href="#myAnchor" rel="" id="anchor1">Start Your Journey</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Parallax image with info -->
<div class="parallax" style="background-image: url(images/forma1fitneszhatter.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
    <div class="row" height="100%">
      <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
        <div class="animate-box">
          <a name="myAnchor" id="myAnchor" style="color: black">Where i want to go</a>
          <h1 class="text-center  commitment" style="color: white">Commit To Be Fit</h1>
          <p> Fitness is not about being better than other people, it's about being better than yourself a day ago.
          It comes down to one simple question: how bad do you want to change? Now you can get the help you always needed from the people who can be your friends, not teachers</p>
          <div class="btn">
            <a href="/map" style="font-size:24px"> Find Fit People Around Me</a><br>
            <img id="google-map-icon" src="/images/icons/Webp.net-resizeimage (2).png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
