<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker3.min.css" rel="stylesheet">
  </head>
  <body>
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <img style="width: 5%; height: auto; margin:5px 25px 5px;" src="..\images\icons\89034aad8c2baac3b25a59af15d9721c.jpg">
        <div id="my-nav-bar">
          <ul class="nav navbar-nav" style="padding-top: 10px; padding-bottom: 0px;">

            <%  if (typeof user !== 'undefined') { %>
            <li><a href="/">Home</a>
            </li>
            <li><a href="/map">Find People</a>
            </li>
            <li><a href="/workout/new">New Workout</a>
            </li>
            <li><a href="/profile">Your profile</a>
            </li>
            <li><a href="/workout">Workout</a>
            </li>
            <li><a href="/users">Manage Users</a>
            </li>
            <li><a class="special-menu" href="/logout">Logout</a>
            </li>
            <div class="container">
              <div class="row">
                    <div class="profile-header-container">
                      <div class="profile-header-img">
                            <img class="img-square" src="<%= user.photoAddress %>" />
                      </div>
                    </div>
              </div>
            </div>
            <% } else { %>
            <li><a href="/login">Log In</a>
            </li>
            <li><a href="/signup">Sign Up</a>
            </li>
            <li><a href="/">Home</a>
            </li>
            <li><a href="/map">Find People</a>
            </li>
            <li><a href="/workout/new">New Workout</a>
            </li>

            <% } %>

          </ul>

          </div>


      </div>
    </nav>
  </header>

    <%- body %>

<footer>
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3 class="section-title">About Us</h3>
            <p>Stay in touch with the people who want you to become better version of yourself</p>
        </div>
        <div class="col-md-3">
					<h3 class="section-title">Our Address</h3>
						<p>120 SW 8th St, Miami, FL 33130</p>
						<p>+ 305 235 5698</p>
						<p><a href="#">techsfriend.com</a></p>
				</div>
        <div class="col-md-3">
          <h3 class="section-title"> Latest activity</h3>
        </div>
        <div class="col-md-3 animate-box">
					<h3 class="section-title">Send us your opinion</h3>
					<form class="contact-form">
						<div class="form-group">
							<label for="name" class="sr-only">Name</label>
							<input type="name" class="form-control" id="name" placeholder="Name">
						</div>
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="email" class="form-control" id="email" placeholder="Email">
						</div>
						<div class="form-group">
							<label for="message" class="sr-only">Message</label>
							<textarea class="form-control" id="message" rows="7" placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Send Message">
						</div>
					</form>
				</div>

			<div class="row copy-right">
				<div class="col-md-6 col-md-offset-3 text-center">
					<p class="social-icons">
						<a href="#"><img class="social-icons grow" src="../images/icons/393-google.png"></a>
            <a href="#"><img class="social-icons grow" src="../images/icons/403-instagram.png"></a>
						<a href="#"><img class="social-icons grow" src="../images/icons/401-facebook.png"></a>
						<!-- <a href="#"><img class="social-icons" src="../images/icons/414-youtube.png"></a> -->
					</p>
					<p>Copyright 2017© Made by ArtSevenDesigns™<p> All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
</footer>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
    <script src="/javascripts/main.js"></script>
</html>
