body {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.8;
  font-size: 16px;
  background: #fff;
  color: #848484;
  font-weight: 300;
  overflow-x: hidden;
}

a {
  color: #4CB648;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover {
  text-decoration: none !important;
  color: #4CB648 !important;
}

p, ul, ol {
  margin-bottom: 1.5em;
  font-size: 20px;
  color: #848484;
  font-family: "Roboto", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #212121;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}
