  <div id="map"></div>
  <div class="pac-card" id="pac-card">
    <div>
      <div id="title">
        People around you
      </div>
    </div>
    <div id="pac-container">
      <input id="pac-input" type="text"
          placeholder="Enter a location">
    </div>
  </div>
